:root {
    --transition-slider: 0.5s linear left;
}

div.slider-container-d4d {
    position: relative;
    overflow: hidden;
}

div.slider_div-d4d {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

div.img-slider-d4d {
    height: 100%;
    width: 100%;
}